.container {
  display: grid;
  grid-template-columns: 12vw 1fr;
  background-color: #121212;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.createForm {
  background: rgb(18, 18, 18);
  width: 100%;
  height: 120vh;
}

.section_0 {
  width: 210px;
  margin-left: auto;
}

.user {
  background: rgb(5, 5, 5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 15px 15px 0 auto;
}

.user:hover {
  cursor: pointer;
  background: rgba(40, 40, 40);
}

.user p {
  color: #fff;
  font-weight: bold;
  margin: 0 5px;
  font-size: 16px;
}

.userImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.arrow {
  width: 20px;
  height: 20px;
  margin-left: 3px;
}

.modal {
  background: rgb(40, 40, 40);
  width: 197px;
  margin: 10px 15px 0 auto;
  display: flex;
  z-index: 2;
  justify-content: center;
  align-items: center;
  flex-flow: wrap column;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  right: 0px;
  z-index: 0;
}

.modal p {
  color: rgb(151, 151, 151);
  font-weight: bold;
  padding: 8px 10px;
  border-radius: 5px;
}

.modal p:hover {
  background: rgba(151, 151, 151, 0.3);
  cursor: pointer;
}

.hr {
  margin: 20px 0 0 0;
  border: 1px solid rgba(151, 151, 151, 0.2);
  width: 100%;
}

.form input {
  min-width: 300px;
  min-height: 20px;
  margin: 10px 0;
  border-radius: 10px;
  padding: 10px;
  outline: none;
}

.form textarea {
  max-width: 300px;
  min-width: 300px;
  max-height: 70px;
  min-height: 30px;
  border-radius: 10px;
  padding: 5px;
  outline: none;
}

.form select {
  min-width: 300px;
  margin: 10px 0 0 0;
  border-radius: 5px;
  padding: 5px 0;
}

.form button {
  margin-top: 20px;
  width: 300px;
  background: rgb(30, 215, 96);
  border: none;
  outline: none;
  padding: 10px 0;
  border-radius: 20px;
  transition: all 0.5s ease;
}

.form button:hover {
  cursor: pointer;
  color: #fff;
  background: rgb(12, 182, 77);
  transition: all 0.5s ease;
  transform: translateY(1px) scale(1.1);
}

.form {
  background: rgb(40, 40, 40);
  margin: auto;
  width: 350px;
  height: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  padding: 10px;
  border-radius: 10px;
}

.h2 {
  color: #fff;
  margin: 0 0 0px 25px;
  font-weight: bold;
  margin-top: 50px;
}

.App_logo {
  width: 100px;
  height: 100px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App_logo {
    animation: App_logo-spin infinite 10s linear;
  }
}

@keyframes App_logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1407px) {
  .container {
    grid-template-columns: 20% 1fr;
  }
  .h2 {
    margin: 50px 0 30px 25px;
  }
}



@media screen and (max-width: 830px) {
  .container {
    grid-template-columns: 1fr;
    display: block;
  }

  .createForm {
    height: auto;
    min-height: 100vh;
    padding-bottom: 50px;
  }

  .h2 {
    margin: 30px auto;
    text-align: center;
  }

  .form {
    width: 90%;
    max-width: 350px;
    margin: auto;
  }

  .form select,
  .form input,
  .form textarea,
  .form button {
    min-width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .form {
    width: 95%;
  }
}
