.container {
  display: grid;
  grid-template-columns: 12vw 1fr;
  background-color: #121212;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.playlists {
    background: rgb(18,18,18);
    width: 100%;
    min-height: 100vh;
}

.topHeader {
  display: flex;
  justify-content: flex-end;
  padding: 20px 40px 0 40px;
  width: 100%;
  box-sizing: border-box;
}

.flex {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 35px;
    padding: 0 40px;
}

.h2 {
    color: #fff;
    margin: 0 0 20px 40px;
    font-weight: bold;
    margin-top: 50px;
} 

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(18, 18, 18, 0.9);
  z-index: 9999;
}

.loading {
  color: #fff;
}


@media screen and (max-width: 1407px) {
  .container {
    grid-template-columns: 20% 1fr;
  }
}

@media screen and (max-width: 830px) {
  .container {
    grid-template-columns: 1fr;
    display: block;
  }
  .topHeader {
      justify-content: center;
      padding: 20px 20px 0 20px;
  }
  .flex {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 40px;
    padding: 0 20px;
  }
  .h2 {
    margin-left: 20px;
    margin-top: 30px;
  }
  .playlists {
    padding-top: 0px;
  }
}

@media screen and (max-width: 500px) {
  .flex {
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 0 20px;
    gap: 40px;
  }
  .h2 {
    text-align: center;
    margin-left: 0;
  }
}


