
.artistImg {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 5px;
    object-fit: cover;
}

.card {
    background: rgb(24,24,24);
    padding: 15px;
    width: 100%;
    min-width: 160px;
    max-width: 220px;
    min-height: 270px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    transition: all .3s ease;
    margin: 0 auto 20px auto;
    overflow: hidden;
}


.card h4 {
    margin: 10px 0 0px 0;
    color: #fff;
}

.card p {
    color: rgb(144,144,144);
    margin: 5px 0 25px 0;
}

.marginContainer {
    margin-left: 0;
}

.btnFlex {
    display: flex;
    gap: 12px;
    margin-top: 15px;
    flex-wrap: wrap;
}

.btnEdit {
    background: #e67e22;
    display: inline-block;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #fff;
    width: 70px;
    padding: 5px 20px;
    transition: all .5s ease;
}

.btnEdit:hover {
    background: #f0932b;
    cursor: pointer;
    transform: translateY(-1px) scale(1.1);
    transition: all .5s ease;
}

.btnDelete {
    background: #e74c3c;
    display: inline-block;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    width: 80px;
    padding: 5px 15px;
    transition: all .5s ease;
}

.btnDelete:hover {
    background: #c0392b;
    cursor: pointer;
    transform: translateY(-1px) scale(1.1);
    transition: all .5s ease;
}

