.container {
  display: grid;
  grid-template-columns: 12% 88%;
}

.createForm {
  background: rgb(18, 18, 18);
  width: 100%;
  height: 120vh;
}

.section_0 {
  width: 210px;
  margin-left: auto;
}

.user {
  background: rgb(5, 5, 5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 15px 15px 0 auto;
}

.user:hover {
  cursor: pointer;
  background: rgba(40, 40, 40);
}

.user p {
  color: #fff;
  font-weight: bold;
  margin: 0 5px;
  font-size: 16px;
}

.userImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.arrow {
  width: 20px;
  height: 20px;
  margin-left: 3px;
}

.modal {
  background: rgb(40, 40, 40);
  width: 197px;
  margin: 10px 15px 0 auto;
  display: flex;
  z-index: 2;
  justify-content: center;
  align-items: center;
  flex-flow: wrap column;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  right: 0px;
  z-index: 0;
}

.modal p {
  color: rgb(151, 151, 151);
  font-weight: bold;
  padding: 8px 10px;
  border-radius: 5px;
}

.modal p:hover {
  background: rgba(151, 151, 151, 0.3);
  cursor: pointer;
}

.hr {
  margin: 20px 0 0 0;
  border: 1px solid rgba(151, 151, 151, 0.2);
  width: 100%;
}

.form input {
  min-width: 300px;
  min-height: 20px;
  margin: 10px 0;
  border-radius: 10px;
  padding: 10px;
  outline: none;
}

.form textarea {
  max-width: 300px;
  min-width: 300px;
  max-height: 70px;
  min-height: 30px;
  border-radius: 10px;
  padding: 5px;
  outline: none;
}

.form select {
  min-width: 300px;
  margin: 10px 0 0 0;
  border-radius: 5px;
  padding: 5px 0;
}

.form button {
  margin-top: 20px;
  width: 300px;
  background: rgb(30, 215, 96);
  border: none;
  outline: none;
  padding: 10px 0;
  border-radius: 20px;
  transition: all 0.5s ease;
}

.form button:hover {
  cursor: pointer;
  color: #fff;
  background: rgb(12, 182, 77);
  transition: all 0.5s ease;
  transform: translateY(1px) scale(1.1);
}

.form {
  background: rgb(40, 40, 40);
  margin: auto;
  width: 350px;
  height: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  padding: 10px;
  border-radius: 10px;
}

.h2 {
  color: #fff;
  margin: 0 0 0px 25px;
  font-weight: bold;
  margin-top: 50px;
}

.App_logo {
  width: 100px;
  height: 100px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App_logo {
    animation: App_logo-spin infinite 10s linear;
  }
}

@keyframes App_logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1407px) {
  .h2 {
    margin: 0 0 30px 100px;
  }
}

@media screen and (max-width: 890px) {
  .h2 {
    margin: 0 0 30px 150px;
  }
}

@media screen and (max-width: 615px) {
  .h2 {
    margin: 50px 0 30px 150px;
  }

  .form {
    width: 250px;
    height: 350px;
    margin-right: 50px;
  }

  .form select,
  .form input,
  .form textarea,
  .form button {
    min-width: 200px;
    width: 200px;
  }
}

@media screen and (max-width: 475px) {
  .form {
    width: 180px;
    height: 350px;
    margin-right: 50px;
  }

  .form select,
  .form input,
  .form textarea,
  .form button {
    min-width: 160px;
    width: 160px;
  }
}

@media screen and (max-width: 380px) {
  .h2 {
    margin: 50px 0 30px 40px;
  }

  .container {
    grid-template-columns: 1fr;
  }

  .form {
    width: 280px;
    height: 350px;
    margin-right: 50px;
  }

  .form select,
  .form input,
  .form textarea,
  .form button {
    min-width: 260px;
    width: 260px;
  }
}

@media screen and (max-width: 337px) {
  .section_0 {
    margin: auto;
  }

  .form {
    margin: auto;
    width: 200px;
    height: 350px;
  }

  .form select,
  .form input,
  .form textarea,
  .form button {
    min-width: 180px;
    width: 180px;
  }
}
