.container {
  display: grid;
  grid-template-columns: 12vw 1fr;
  background-color: #121212;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.category {
  background: rgb(18, 18, 18);
  width: 100%;
  height: 230vh;
}

.section_a {
  margin: 20px 0 0 0;
}

.flex {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 35px;
  padding: 0 25px;
}

.h2 {
  color: #fff;
  margin: 0 0 20px 25px;
  font-weight: bold;
}

.artistImg {
  width: 160px;
  height: 140px;
  border-radius: 5px;
  margin: 0 auto;
}

.card {
  background: rgb(24, 24, 24);
  padding: 10px;
  width: 100%;
  max-width: 200px;
  height: 290px;
  display: flex;
  flex-flow: wrap column;
  border-radius: 5px;
  transition: all 0.5s ease;
  margin-bottom: 0px;
  overflow: hidden;
}

.card:hover {
  background: rgb(40, 40, 40);
  cursor: pointer;
  transform: translateY(-1px) scale(1.1);
  transition: all 0.5s ease;
}

.card h4 {
  margin: 10px 0 0px 0;
  color: #fff;
}

.card p {
  color: rgb(144, 144, 144);
  margin: 5px 0 25px 0;
}

.marginContainer {
  margin-left: 25px;
}

.loading {
  color: #fff;
  text-align: center;
  display: block;
  margin-top: 300px;
}

.arrows {
  margin: 20px 0 20px 20px;
  display: flex;
  justify-content: space-between;
  width: 85vw;
}

.leftRight img {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  padding: 5px;
  margin-right: 10px;
}

.leftRight img:hover {
  cursor: pointer;
}

.section_0 {
  width: 210px;
  margin-bottom: auto;
}

.user {
  background: rgb(5, 5, 5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 0px 15px 0 auto;
}

.user:hover {
  cursor: pointer;
  background: rgba(40, 40, 40);
}

.user p {
  color: #fff;
  font-weight: bold;
  margin: 0 5px;
  font-size: 16px;
}

.userImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.arrow {
  width: 20px;
  height: 20px;
  margin-left: 3px;
}

.modal {
  background: rgb(40, 40, 40);
  width: 197px;
  margin: 10px 15px 0 auto;
  display: flex;
  z-index: 2;
  justify-content: center;
  align-items: center;
  flex-flow: wrap column;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  right: 0px;
  z-index: 0;
}

.modal p {
  color: rgb(151, 151, 151);
  font-weight: bold;
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 16px;
}

.modal p:hover {
  background: rgba(151, 151, 151, 0.3);
  cursor: pointer;
}



@media screen and (max-width: 1407px) {
  .container {
    grid-template-columns: 20% 1fr;
  }
}

@media screen and (max-width: 830px) {
  .container {
    grid-template-columns: 1fr;
    display: block;
  }
  .flex {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 25px;
    padding: 0 15px;
    margin-left: 0;
  }
  .h2 {
    margin-left: 15px;
  }
  .category {
    padding-top: 60px;
  }
}





