.artistImg {
  width: 90%;
  aspect-ratio: 1 / 1;
  border-radius: 5px;
  margin: 0 auto;
  object-fit: cover;
}

.card {
  background: rgb(24, 24, 24);
  padding: 10px;
  width: 100%;
  max-width: 220px;
  min-width: 160px;
  height: 280px;
  display: flex;
  flex-flow: wrap column;
  border-radius: 5px;
  transition: all 0.5s ease;
  overflow: hidden;
  margin-bottom: 20px;
}

.card:hover {
  background: rgb(40, 40, 40);
  cursor: pointer;
  transform: translateY(-1px) scale(1.1);
  transition: all 0.5s ease;
}

.card h4 {
  margin: 10px 0 0px 0;
  color: #fff;
}

.card p {
  color: rgb(144, 144, 144);
  margin: 5px 0 25px 0;
  font-size: 13px;
}

.marginContainer {
  margin-left: 0;
}

@media screen and (max-width: 450px) {
  .card {
    max-width: 280px;
    height: auto;
    min-height: auto;
  }
  
  .artistImg {
    width: 80%;
  }
}

