.container {
  display: grid;
  grid-template-columns: 12vw 1fr;
  background-color: #121212;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.home {
  background: rgb(18, 18, 18);
  width: 100%;
  min-height: 100vh;
  padding-bottom: 50px;
}

.topHeader {
  display: flex;
  justify-content: flex-end;
  padding: 20px 40px 0 40px;
  width: 100%;
  box-sizing: border-box;
}

.releasesContainer,
.featuredContainer,
.recentlyContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 35px;
  padding: 0 25px;
}

.h2 {
  color: #fff;
  margin: 0 0 20px 25px;
  font-weight: bold;
  margin-top: 50px;
}


.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(18, 18, 18, 0.9);
  z-index: 9999;
}

.loading {
  color: #fff;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.seeAll {
  color: rgb(179, 179, 179);
  margin: 0 0 20px 0;
  font-weight: bold;
  margin-top: 50px;
  width: 70px;
  text-transform: uppercase;
  font-size: 14px;
}

.seeAll:hover {
  cursor: pointer;
  text-decoration: underline;
}


@media screen and (max-width: 1407px) {
  .container {
    grid-template-columns: 20% 1fr;
  }
}

@media screen and (max-width: 830px) {
  .container {
    grid-template-columns: 1fr;
    display: block;
  }

  .topHeader {
      justify-content: center;
      padding: 20px 20px 0 20px;
  }

  .home {
    padding-top: 0;
  }

  .h2 {
    margin-left: 15px;
    font-size: 1.5rem;
    margin-top: 30px;
  }

  .seeAll {
    margin-right: 15px;
    margin-top: 35px;
  }

  .releasesContainer,
  .featuredContainer,
  .recentlyContainer {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 25px;
    padding: 0 15px;
  }
}

@media screen and (max-width: 400px) {
  .releasesContainer,
  .featuredContainer,
  .recentlyContainer {
    grid-template-columns: 1fr;
    justify-items: center;
    max-width: 250px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .h2 {
    text-align: center;
    margin-left: 0;
  }
  
  .titleContainer {
    flex-direction: column;
    align-items: center;
  }
  
  .seeAll {
    margin-right: 0;
    margin-top: 10px;
  }
}


