.container {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.2s ease;
  width: 100%;
}

.song_row {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 15px;
}

.embed_container {
  flex: 1;
}

.container:hover {
  background: rgb(40, 40, 40);
  transition: all 0.2s ease;
  cursor: pointer;
}

.songName {
  color: #fff;
  font-weight: lighter;
  font-size: 15px;
}

.container div span {
  color: rgb(144, 144, 144);
  font-size: 13px;
  margin-right: 5px;
}

.container div span:hover {
  color: #fff;
}

.controls {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px;
  position: relative;
}

.time {
  color: rgb(144, 144, 144);
  font-size: 13px;
  margin: 0 5px;
}

.time:hover {
  color: #fff;
}

.e {
  background: rgb(160, 160, 160);
  color: #000;
  border-radius: 2px;
  padding: 1px 5px;
  width: 18px;
  font-size: 11px;
  display: block;
  margin-right: 7px;
}

.inner {
  margin: 15px 0 0 10px;
}

.flex {
  display: flex;
}

.greenHeart {
  margin-right: 5px;
  padding: 5px;
  color: rgba(255, 255, 255, 0.5);
}

.greenHeartFull {
  color: rgb(29, 185, 84);
  margin-right: 5px;
  padding: 5px;
}

.circleContainer {
  display: flex;
  padding: 10px;
}

.circle {
  width: 3px;
  height: 3px;
  background: rgba(236, 240, 241, 1);
  border-radius: 50%;
  margin: 0 2px;
}

.options {
  background: rgb(24, 24, 24);
  padding: 8px 0;
  border-radius: 4px;
  color: #fff;
  text-align: left;
  position: absolute;
  right: 0;
  top: 100%;
  width: 200px;
  z-index: 1000;
  box-shadow: 0 16px 24px rgba(0,0,0,.3), 0 6px 8px rgba(0,0,0,.2);
}

.x {
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  opacity: 0.6;
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 1001;
}

.x:hover {
  opacity: 1;
}

.playlistName {
  padding: 8px;
  border-radius: 5px;
}

.playlistName:hover {
  background: rgba(149, 165, 166, .3);
}

.playlistName:first-child {
  border-bottom: 1px solid rgba(149, 165, 166, .3);
  padding-bottom: 5px;
}

.options p {
  margin: 0 0 5px 0;
  font-size: 14px;
}

.options p:hover {
  cursor: pointer;
}

.leftContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.x {
  font-size: 17px;
  display: flex;
  justify-content: flex-end;
  padding: 5px 5px 2px 5px;
}

.x:hover {
  font-weight: bold;
}

.playlistContainer {
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

.playlistContainer::-webkit-scrollbar {
  width: 6px;
}

.playlistContainer::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.playlistContainer::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 695px) {
  .container {
    width: 100%;
    padding: 0;
  }
  .song_row {
    flex-direction: column;
    align-items: stretch;
  }
  .controls {
    justify-content: center;
  }
}

@media screen and (max-width: 312px) {
  .container {
    display: block;
  }

}

