.container {
  display: grid;
  grid-template-columns: 12vw 1fr;
  background-color: #121212;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.recently {
  background: rgb(18, 18, 18);
  width: 100%;
  min-height: 100vh;
}

.recentlyContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 35px;
  padding: 0 25px;
}

.h2 {
  color: #fff;
  margin: 0 0 20px 25px;
  font-weight: bold;
  margin-top: 50px;
}

.loading {
  color: #fff;
  text-align: center;
  display: block;
  margin-top: 300px;
}

@media screen and (max-width: 1407px) {
  .container {
    grid-template-columns: 20% 1fr;
  }
}

@media screen and (max-width: 830px) {
  .container {
    grid-template-columns: 1fr;
    display: block;
  }
  .recentlyContainer {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 25px;
    padding: 0 15px;
  }
  .h2 {
    margin-left: 15px;
  }
  .recently {
    padding-top: 20px;
    height: auto;
  }
}

@media screen and (max-width: 450px) {
  .recentlyContainer {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .h2 {
    text-align: center;
    margin-left: 0;
    width: 100%;
  }
}
