.section_b_grid,
.section_c_grid,
.section_d_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 35px;
}

.section_b,
.section_c div,
.section_d div {
  margin: 0 0 10px 0px;
}

.section_a {
  margin: 0 0 20px 0px;
}

.container {
  display: grid;
  grid-template-columns: 12vw 1fr;
  background-color: #121212;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.search {
  background: transparent;
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
}

.search form input {
  padding: 10px 30px;
  width: 100%;
  max-width: 450px;
  border-radius: 20px;
  outline: none;
  margin: 0 0 20px 0px;
  border: none;
}


.h2Songs {
  color: #fff;
  margin: 0 0 20px 0px;
  font-weight: bold;
}

.flex {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.topResultSection {
    flex: 0 1 490px;
}

.songsContainer {
  margin: 0;
  flex: 1;
  min-width: 0;
}

.songList {
    width: 100%;
}

.artistImg {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin: left;
}

.card {
  background: rgb(24, 24, 24);
  padding: 15px;
  width: 100%;
  max-width: 490px;
  height: 360px;
  display: flex;
  flex-flow: wrap column;
  justify-content: flex-start;
  border-radius: 5px;
  transition: all 0.5s ease;
  overflow: hidden;
}

.card:hover {
  background: rgb(40, 40, 40);
  cursor: pointer;
  transform: translateY(1px) scale(1.1);
  transition: all 0.5s ease;
}

.card h4 {
  margin: 10px 0 0px 0;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}

.card p {
  color: #fff;
  margin: 5px 0 0px 0;
  font-weight: bold;
  background: rgb(19, 19, 19);
  width: 68px;
  text-align: center;
  border-radius: 50px;
  padding: 3px 0px;
  text-transform: uppercase;
  font-size: 16px;
}

.topContainer {
    width: 100%;
}

.loading {
  color: #fff;
  text-align: center;
  display: block;
  margin-top: 300px;
}


.titleContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.seeAll {
  color: rgb(179, 179, 179);
  font-weight: bold;
  margin-top: 10px;
  width: 70px;
  text-transform: uppercase;
  font-size: 14px;
}

.seeAll:hover {
  cursor: pointer;
  text-decoration: underline;
}

.h2 {
  color: #fff;
  margin: 0 0 20px 0px;
  font-weight: bold;
}

.section_0 {
  width: 210px;
  margin-bottom: auto;
}

.topContainer > form {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 15px;
  width: 100%;
  padding-top: 15px;
  margin-bottom: 20px;
}

.emptySearch {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  width: 100%;
  animation: fadeIn 0.8s ease-in-out;
}

.emptySearchContent {
  text-align: center;
  color: #fff;
  max-width: 500px;
}

.emptySearchContent h1 {
  font-size: 32px;
  margin: 20px 0 10px 0;
  font-weight: bold;
}

.emptySearchContent p {
  color: rgb(179, 179, 179);
  font-size: 16px;
}

.emptySearchContent i {
  color: rgba(255, 255, 255, 0.1);
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.user {
  background: rgb(5, 5, 5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.user:hover {
  cursor: pointer;
  background: rgba(40, 40, 40);
}

.user p {
  color: #fff;
  font-weight: bold;
  margin: 0 5px;
  font-size: 16px;
}

.userImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.arrow {
  width: 20px;
  height: 20px;
  margin-left: 3px;
}

.modal {
  background: rgb(40, 40, 40);
  width: 197px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap column;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  right: 0px;
  z-index: 1000;
}

.modal p {
  color: rgb(151, 151, 151);
  font-weight: bold;
  padding: 8px 10px;
  border-radius: 5px;
}

.modal p:hover {
  background: rgba(151, 151, 151, 0.3);
  cursor: pointer;
}

.hr {
  margin: 20px 0 0 0;
  border: 1px solid rgba(151, 151, 151, 0.2);
  width: 100%;
}



@media screen and (max-width: 1407px) {
  .container {
    grid-template-columns: 20% 1fr;
  }
}
@media screen and (max-width: 1245px) {
  .flex {
    display: grid;
    grid-template-columns: 1fr;
  }
  .card {
    margin-bottom: 20px;
  }
}



@media screen and (max-width: 830px) {
  .container {
    grid-template-columns: 1fr;
    display: block;
  }
  .section_b_grid,
  .section_c_grid,
  .section_d_grid {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 25px;
    padding: 0 15px;
  }
  .songsContainer {
    width: 100%;
    margin-top: 20px;
  }

  .card {
     width: 100%;
     max-width: 100%;
  }

  .topContainer > form {
      align-items: center;
  }
}



@media screen and (max-width: 312px) {

  .card {
    width: 250px;
  }

}

@media screen and (max-width: 280px) {

  .card {
    width: 160px;
  }

  .card h4 {
    font-size: 30px;
  }

  .search form input {
    width: 150px;
  }

  .section_0 {
    width: 50px;
    display: block;
  }

}
