
.container {
    display: grid;
    grid-template-columns: 12% 88%;
}

.allAlbum {
    background: rgb(18, 18, 18);
    width: 100%;
}

.section_0 {
    width: 210px;
    margin-left: auto;
}

.user {
    background: rgb(5, 5, 5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 15px 15px 0 auto;
}

.user:hover {
    cursor: pointer;
    background: rgba(40, 40, 40);
}

.user p {
    color: #fff;
    font-weight: bold;
    margin: 0 5px;
    font-size: 16px;
}

.userImg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.modal {
    background: rgb(40, 40, 40);
    width: 197px;
    margin: 10px 15px 0 auto;
    display: flex;
    z-index: 2;
    justify-content: center;
    align-items: center;
    flex-flow: wrap column;
    padding: 5px;
    border-radius: 5px;
}

.modal p {
    color: rgb(151, 151, 151);
    font-weight: bold;
    padding: 8px 10px;
    border-radius: 5px;
}

.modal p:hover {
    background: rgba(151, 151, 151, 0.3);
    cursor: pointer;
}

.hr {
    margin: 20px 0 0 0;
    border: 1px solid rgba(151, 151, 151, 0.2);
    width: 100%;
}

.recentlyContainer {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.h2 {
    color: #fff;
    margin: 0 0 20px 25px;
    font-weight: bold;
    margin-top: 50px;
}

.loading {
    color: #fff;
    text-align: center;
    display: block;
    margin-top: 300px;
}

@media screen and (max-width: 1814px) {

    .recentlyContainer {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media screen and (max-width: 1372px) {

    .recentlyContainer {
        grid-template-columns: repeat(4, 1fr);
    }

    .container {
        grid-template-columns: 15% 85%;
    }
}

@media screen and (max-width: 945px) {

    .recentlyContainer {
        grid-template-columns: repeat(3, 1fr);
    }

    .container {
        grid-template-columns: 20% 80%;
    }
}

@media screen and (max-width: 746px) {

    .recentlyContainer {
        grid-template-columns: repeat(2, 1fr);
    }

    .container {
        grid-template-columns: 25% 75%;
    }
}

@media screen and (max-width: 520px) {

    .recentlyContainer {
        grid-template-columns: repeat(1, 1fr);
    }

    .container {
        grid-template-columns: 30% 70%;
    }
}

@media screen and (max-width: 480px) {

    .recentlyContainer {
        grid-template-columns: 1fr;
    }

    .container {
        grid-template-columns: 1fr;
    }
}