.container {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.2s ease;
  width: 100%;
}

.container:hover {
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.controls {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px;
  position: relative;
}

.time {
  color: rgb(160, 160, 160);
  font-size: 13px;
}

.greenHeart {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
  cursor: pointer;
}

.greenHeartFull {
  color: rgb(29, 185, 84);
  font-size: 1.2rem;
  cursor: pointer;
}

.circleContainer {
  display: flex;
  padding: 10px;
  cursor: pointer;
}

.circle {
  width: 3px;
  height: 3px;
  background: #fff;
  border-radius: 50%;
  margin: 0 2px;
}

.options {
  background: rgb(24, 24, 24);
  padding: 8px 0;
  border-radius: 4px;
  color: #fff;
  text-align: left;
  position: absolute;
  right: 0;
  top: 100%;
  width: 200px;
  max-height: 250px;
  overflow-y: auto;
  z-index: 1000;
  box-shadow: 0 16px 24px rgba(0,0,0,.3), 0 6px 8px rgba(0,0,0,.2);
}

.options::-webkit-scrollbar {
  width: 6px;
}

.options::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.playlistName {
  padding: 12px 16px;
  font-size: 14px;
  cursor: pointer;
}

.playlistName:hover {
  background: rgba(255, 255, 255, 0.1);
}

.x {
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  opacity: 0.6;
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 1001;
}

.x:hover {
  opacity: 1;
}
