.container {
  background: rgb(18, 18, 18);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background: rgb(40, 40, 40);
  margin: auto;
  width: 350px;
  min-height: 250px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  padding: 30px 20px;
  border-radius: 10px;
  gap: 8px;
}

.form a {
  margin: 40px 0 0 0;
  padding: 10px 120px;
  border-radius: 50px;
  background: rgb(24, 216, 96);
  color: #fff;
  outline: none;
  border: none;
  transition: all 0.5s ease;
  text-decoration: none;
}

.form a:hover,
.form button.loginButton:hover {
  cursor: pointer;
  background: rgb(12, 182, 77);
  transition: all 0.5s ease;
  transform: translateY(1px) scale(1.1);
}

.form button.loginButton {
  margin: 20px 0 0 0;
  padding: 12px 32px;
  border-radius: 50px;
  background: rgb(24, 216, 96);
  color: #fff;
  outline: none;
  border: none;
  transition: all 0.5s ease;
  font: inherit;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  max-width: 280px;
}

.divider {
  margin: 12px 0;
  color: #b3b3b3;
  font-size: 12px;
  font-weight: 400;
}

.guestButton {
  padding: 12px 32px;
  border-radius: 50px;
  background: #535353;
  color: #fff;
  outline: none;
  border: none;
  transition: all 0.3s ease;
  font: inherit;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  max-width: 280px;
  margin-bottom: 10px;
}

.guestButton:hover {
  background: #727272;
  transform: scale(1.04);
}

.App_logo {
  width: 100px;
  height: 100px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App_logo {
    animation: App_logo-spin infinite 10s linear;
  }
}

@keyframes App_logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 380px) {
  .form {
    width: 300px;
    padding: 25px 15px;
  }

  .form a,
  .form button.loginButton,
  .guestButton {
    padding: 10px 24px;
    font-size: 13px;
    max-width: 240px;
  }
}

@media screen and (max-width: 320px) {
  .form {
    width: 260px;
    padding: 20px 15px;
  }

  .form a,
  .form button.loginButton,
  .guestButton {
    padding: 10px 20px;
    font-size: 12px;
    max-width: 200px;
  }

  .App_logo {
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 280px) {
  .form {
    width: 220px;
    padding: 20px 10px;
  }

  .form a,
  .form button.loginButton,
  .guestButton {
    padding: 8px 16px;
    font-size: 11px;
    max-width: 180px;
  }

  .App_logo {
    width: 70px;
    height: 70px;
  }
}
