.container {
  display: grid;
  grid-template-columns: 12% 88%;
}

.playlist {
  background: rgb(114, 34, 32);
  background: linear-gradient(
    180deg,
    rgba(114, 34, 32, 1) 35%,
    rgba(18, 18, 18, 1) 58%
  );
  width: 100%;
}

.header {
  width: 100%;
  height: 38vh;
}

.overlay {
  background: rgb(190, 57, 57);
  background: linear-gradient(
    180deg,
    rgba(190, 57, 57, 1) 59%,
    rgba(114, 34, 34, 1) 82%
  );
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}

.innerText {
  width: 95%;
  margin: 0 0 40px 40px;
}

.innerText h1 {
  font-size: 60px;
  font-weight: bold;
  color: #fff;
}

.colorLight {
  font-size: 15px;
  color: rgb(201, 212, 209);
  font-weight: bold;
}

.colorLight2 {
  font-size: 15px;
  color: rgb(201, 212, 209);
  font-weight: bold;
  padding-left: 5px;
}

.name {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}

.innerText > div {
  font-size: 12px;
  color: #fff;
  display: flex;
  align-items: center;
}

.arrows {
  margin: 20px 0 20px 0;
}

.arrows img {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  padding: 5px;
  margin-right: 10px;
}

.arrows img:hover {
  cursor: pointer;
}

.playlistImg {
  width: 260px;
  height: 260px;
  -webkit-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  transition: all 0.6s ease;
}

.playlistImg:hover {
  cursor: pointer;
  transition: all 0.5s ease;
  transform: translateY(0px) scale(1.1);
}

.type {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
}

.textContainer {
  margin-left: 20px;
  margin-top: 80px;
  width: 100%;
}

.textContainer h1 {
  font-size: 60px;
}

.text {
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.circle {
  background: rgba(250, 249, 249, 0.6);
  border-radius: 50%;
  height: 5px;
  width: 5px;
  margin: 9px 5px 0 5px;
}

.section_a {
  width: 95%;
  margin: 60px 0 40px 30px;
}

.section_a table {
  width: 100%;
}

.normaChild {
  color: rgba(250, 249, 249, 0.7);
  font-size: 14px;
  font-weight: lighter;
  text-align: left;
  border-bottom: 1px solid rgba(250, 249, 249, 0.2);
}

.lastChild {
  color: rgba(250, 249, 249, 0.7);
  font-size: 14px;
  font-weight: lighter;
  text-align: center;
  border-bottom: 1px solid rgba(250, 249, 249, 0.2);
}

.section_a th img {
  width: 20px;
  height: 20px;
}

.arrows {
  margin: 20px 0 20px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  width: 85vw;
}

.leftRight img {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  padding: 5px;
  margin-right: 10px;
}

.leftRight img:hover {
  cursor: pointer;
}

.section_0 {
  width: 210px;
  margin-bottom: auto;
}

.user {
  background: rgb(5, 5, 5);
  display: grid;
  grid-template-columns: 15% 70% 15%;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 0px 15px 0 auto;
}

.user:hover {
  cursor: pointer;
  background: rgba(40, 40, 40);
}

.user p {
  color: #fff;
  font-weight: bold;
  margin: 0 5px;
  font-size: 16px;
}

.userImg {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.arrow {
  width: 28px;
  height: 28px;
  margin-left: 3px;
}

.modal {
  background: rgb(40, 40, 40);
  width: 197px;
  margin: 10px 15px 0 auto;
  display: flex;
  z-index: 2;
  justify-content: center;
  align-items: center;
  flex-flow: wrap column;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  right: 0px;
  z-index: 0;
}

.modal p {
  color: rgb(151, 151, 151);
  font-weight: bold;
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 16px;
}

.modal p:hover {
  background: rgba(151, 151, 151, 0.3);
  cursor: pointer;
}

.hr {
  margin: 20px 0 0 0;
  border: 1px solid rgba(151, 151, 151, 0.2);
  width: 100%;
}

.innerText h1 {
  width: 90%;
  word-break: break-all;
}

@media screen and (max-width: 1250px) {
  .container {
    display: grid;
    grid-template-columns: 15% 85%;
  }

  .playlist {
    width: 104%;
    height: 100vh;
  }

}

@media screen and (max-width: 1200px) {

  .header {
    height: 50vh;
  }

}

@media screen and (max-width: 950px) {
  .container {
    display: grid;
    grid-template-columns: 20% 80%;
  }

  .playlist {
    width: 104%;
    overflow: hidden;
  }

  .arrows {
    width: 95%;
  }
}

@media screen and (max-width: 861px) {
  .arrows {
    width: 95%;
  }

  .header {
    height: 80vh;
  }

  .content {
    display: flex;
    flex-flow: column wrap;
  }

  .section_a {
    width: 95%;
    margin: 60px 0 40px 15px;
  }

  .erased {
    display: none;
  }
}

@media screen and (max-width: 779px) {
  .description {
    width: 70%;
  }

  .header {
    height: 70vh;
  }

  .innerText h1 {
    font-size: 40px;
  }

}

@media screen and (max-width: 718px) {
  .erased2 {
    display: none;
  }
}

@media screen and (max-width: 654px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .playlist {
    width: 100%;
  }

  .innerText {
    margin: 0 0 0 10px;
  }

  .header {
    height: 70vh;
  }
}

@media screen and (max-width: 619px) {
  .erased2 {
    display: none;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .playlist {
    width: 100%;
  }

  .innerText {
    margin: 0 0 0 10px;
  }

  .innerText h1 {
    font-size: 30px;
    width: 80%;
  }

  .lastChild {
    width: 50px;
  }

  .playlist {
    width: 100%;
  }

  .number {
    display: none;
  }

  .section_a {
    width: 95%;
    margin: 60px 0 40px 5px;
  }

  .playlistImg {
    margin: 0 50px 0 0;
  }
}


@media screen and (max-width: 400px) {
  .header {
    height: 75vh;
  }

  .arrows {
    flex-flow: column wrap;
  }
}

@media screen and (max-width: 300px) {
  .header {
    height: 95vh;
  }

  .textContainer {
    margin: 30px 50px 0 0;
  }
}
