.container {
  display: grid;
  grid-template-columns: 12vw 1fr;
  background-color: #121212;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.userContainer {
  background: rgb(18, 18, 18);
  width: 100%;
  min-height: 100vh;
  padding-bottom: 50px;
}

.topHeader {
  width: 100%;
  padding: 20px 40px 0 40px;
  box-sizing: border-box;
}

.arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.description {
  background: rgba(255, 255, 255, 1);
  width: 90%;
  max-width: 600px;
  margin: 50px auto;
  border-radius: 10px;
  padding: 40px;
  box-sizing: border-box;
}

.border {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 25px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
}

.title {
  color: rgb(164, 158, 164);
}

.description h1 {
  font-size: 40px;
  margin-bottom: 30px;
}

.h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.plan {
  border-radius: 5px;
}

.top {
  min-height: 180px;
  height: auto;
  border-radius: 3px;
  padding-bottom: 20px;
}

.top p {
  font-size: 40px;
  color: #fff;
  font-weight: bold;
  padding: 60px 20px 0 20px;
}

.bottom {
  background: rgb(255, 255, 255);
  min-height: 100px;
  height: auto;
  border-radius: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  box-sizing: border-box;
}

.bottom p {
  font-size: 15px;
  margin: 0;
}

.type {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  display: block;
}

.plan h4 {
  margin-bottom: 15px;
}

.description img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.description img:hover {
  cursor: pointer;
}



@media screen and (max-width: 830px) {
  .container {
    grid-template-columns: 1fr;
    display: block;
  }

  .topHeader {
      padding: 20px;
  }

  .arrows {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      height: auto;
      gap: 15px;
  }

  .description {
      width: 95%;
      padding: 20px;
      margin: 20px auto;
  }

  .description h1 {
      font-size: 28px;
      text-align: center;
  }
}

@media screen and (max-width: 490px) {
  .border {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .top p {
      font-size: 24px;
      padding: 40px 10px 0 10px;
  }
}

